{% extends "network/layout.html" %}
{% block body %}
<div class="container">
    <h4>{{ profile }}</h4>
    <h6>{{ profile.follower.count }} follower</h6>
    <h6>{{ profile.following.count }} following</h6>
    {% if request.user != profile.user %}
        {% if request.user not in followerList %}
            <a class="btn btn-primary" href="{% url 'follow' user_id=profile.id condition='follow' %}">Follow</a>
        {% else %}
            <a class="btn btn-danger" href="{% url 'follow' user_id=profile.id condition='unfollow' %}">Unfollow</a>
        {% endif %}    
    {% endif %}
</div>
{% endblock %}