body{
    background-color: #F0F2F5;
}

#newPost-view{
    margin-top: 15px;
}

.post{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px 0px #b3abab;
}

.time{
    font-size: 12px;
}

.time a{
    color: gray;
}

.content{
    font-size: 20px;
}
.follow-wrapper {
    display: flex;
}

.follow-wrapper h6 {
    margin-right: 10px;
}

.user {
    margin: 15px 0;
}

.follow-btn{
    margin: 10px 0;
    margin-bottom: 20px;
}

#page{
    display: flex;
}

#next{
    display: flex;
}

.post-wrapper {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.651);
    border-radius: 5px;
    padding: 5px;
}

.submit {
    text-align: right;
}

.editButton{
    border: none;
    background: none;
    padding: 7px;
    border-radius: 5px;
    transition: 0.25s;
}
.editButton:hover{
    background-color: #b3abab40;
}
.like-split{
    margin: 0.5rem 0;
}

.like-btn{
    display: flex;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    transition: .25s;
}
.like-btn:hover {
    background-color: #b3abab67;
}
.like-btn button{
    background: none;
    border: none;
}
.like-btn span {
    vertical-align: middle;
    font-weight: 500;
}

