body{
    background-color: #F0F2F5;
}

.post{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px 0px #b3abab;
}

#page{
    display: flex;
}

#next{
    display: flex;
}

.post-wrapper {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.651);
    border-radius: 5px;
    padding: 5px;
}

.submit {
    text-align: right;
}